server {
    listen 80;
    listen [::]:80;
    server_name __THREADHUB_DOMAIN__;

    server_tokens off;

    location ^~ /.well-known/acme-challenge/ {
        root /var/www/letsencrypt;
        default_type text/plain;
        try_files $uri =404;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}
