BACKUP_REGION=ap-singapore-1
BACKUP_NAMESPACE=REPLACE_WITH_OCI_OBJECT_STORAGE_NAMESPACE
BACKUP_BUCKET=REPLACE_WITH_PROJECT_PRIVATE_BUCKET_NAME
BACKUP_ALERT_EMAIL=admin@example.com
BACKUP_SCHEDULE=03:00
BACKUP_DAILY_RETENTION_DAYS=7
BACKUP_WEEKLY_RETENTION_DAYS=28
